#storyChoices>button,
#restartBtn>button {
    width: 500px;
    height: 50px;
    font-size: large;
    margin-bottom: 20px;
}

#restartBtn>button {
    margin-left: 3rem;
}

#choiceAlign {
    text-align: center;
}

@media (max-width: 1136px) {
    #storyChoices>button,
    #restartBtn>button {
        width: 400px;
    }
}

@media (max-width: 902px) {
    #storyChoices>button,
    #restartBtn>button {
        width: 350px;
    }
}