@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.site-footer {
    width: auto;
    height: auto;
    line-height: 40px;
    background-color: #322A26;
}

.site-footer p {
    color: whitesmoke;
}

@media (min-width: 576px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}