.LibCard {
  /* height: 50%; */
  align-items: center;
  width: 33%;
  padding: 5%;
  background: #95b46a;
}

/* .libh3 {
  text-align: center;
  padding: 5%;
  cursor: pointer;
} */

.libImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  cursor: pointer;
}

.libBtn {
  display: block;
  margin: auto;
  width: 50%;
  background: #322a26;
  width: fit-content;
}

@media screen and (max-width: 414px) {
  #main {
    width: 100%;
  }
  .libBtn {
    margin: 0;
  }
}
