.LibCard {
  /* height: 50%; */
  text-align: center;
  width: 33%;
  padding: 5%;
  background: #95b46a;
}

.libImg {
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 414px) {
  #main {
    width: 100%;
  }
}